@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .image {
        background-image: url('https://www.bing.com/th/id/OGC.f3a5a976246be154e795a444458b2b98?pid=1.7&rurl=https%3a%2f%2fcdn.dribbble.com%2fusers%2f521025%2fscreenshots%2f3195508%2ftaxi-dribble.gif&ehk=vJi%2bKXap6I07M2DklCOW03PUFAX5liVAZ7wtX1tZ38A%3d');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body class="image">


    <div class="row offset-2 pt-5">
        @*<div class="col-md-9">*@
        <div class="row">
            <div class="col">
                <h2>List of Employees</h2>
            </div>
            <div class="col">
                <a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Create new Employee</a>
            </div>

        </div>

        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        @*<th>Designation</th>*@
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.EmployeeId</td>
                            <td>@x.EmployeeName</td>
                            <td>@x.DesignationId</td>
                            <td>
                                <a asp-controller="Employees" asp-action="Details" asp-route-id="@x.EmployeeId" class="btn btn-primary">Details</a>
                                <a asp-controller="Employees" asp-action="Edit" asp-route-id="@x.EmployeeId" class="btn btn-primary">Edit</a>
                                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@x.EmployeeId" class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        @*</div>*@
    </div>
    </body>
